@media screen and (max-width: 1024px){
  header.mdl-layout__header{
    display: flex;
  }

}
header{
  justify-content: center;
  max-width: 1200px;
}



.portfolio-header{
  width: 100%;
  padding: 0;
  background-color: #ffffff;


}
.mdl-grid{
justify-content: center;

}



.hero > h1{
  color: #2F3438;
  font-weight: bold;
  font-family: Lato;
  font-size: 40px;
  width:600px;
  letter-spacing: 2px;
}

.app-icons{
  list-style: none;
  width: auto;
}

.column{

    flex-direction: column-reverse;
    right:0px;
    height: inherit;

}

.projects{
  width: 100%;
}



.hero{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin-top: 120px;
  margin-bottom: 120px;
}

.portfolio-hero{
   justify-content: space-between;
   align-items: center;
}


.projects-item{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 120px;
  margin-bottom: 120px;
}

.case-study{
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.projects-header{
  color: #2F3438;
  font-weight: bold;
  font-family: Cormorant;
  font-size: 24px;
  margin: 0px;
}

.case-study-description{
  display: flex
  flex-wrap: wrap;
}

.case-study-description > h2{
  font-family: Lato;
  font-size: 20px;
  font-weight: Light;
  margin: 5px;
}
.case-study-description >h1{
  font-family: Cormorant;
  font-size: 48px;
  font-weight: bold;
  margin: 5px;
}
.case-study-link{
  font-family: Lato;
  font-size: 20px;
  font-weight: 200px;
  color: #3A559F;
  padding-left: 4px;
}

main {
  max-width: 1200px;
}
